@font-face {
    font-family: 'OCRAStd';
    src: url('../fonts/OCRAStd.ttf')
}

body {
    font-family: 'OCRAStd', serif;
    background-color: #e7ebea;
    background-image: url(../img/setka.jpg);
}

.wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
}
.main{
    width: 74%;
    height: 94VH;
    background: #9a9a9a;
    float: left;
    margin-left: 40px;
}
.setgame{
    height: 100%;
    min-height: 200px;
    width: 20%;
    float: left;
    margin-left: 3%;
}
.menu button{
    width: 300px;
    height: 77px;
    margin: 15px;
    margin-left: 0px;
}

.menu img{
    width: 300px;
    margin-top: 10%;
    margin-bottom: 20%;
}

.menu{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.setgame{
    padding: 15px;
}
.setgame .btn{
    margin-bottom: 10px;
}

.item {
  position: absolute;
 top: 0px;
 left: 0px;
 background-color: white;
 border-radius: 50px;
 height: 50px;
 width: 50px;
 text-align: center;
 padding: 15px;
}
.green{
 background-color: green;
}
.red{
 background-color: red;
}
.blue{
 background-color: blue;
}

.radio_but{
    display: flex;
}

p{
  padding-right: 5%;
}

a{
  color: white;
}
